html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #F5F5F5;
}

header{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #282F5C;
  height: 50vh;
}

.header-content{
  margin-top: 80px;
  text-align: center;
  color:white

}
.header-content p{
  margin-top: 20px;
}

card{
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

article{
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  
}

article h2{
  color: #666;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}

/* parent */
.footer-layout { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 800px;
  width: 90%;
  gap: 40px;
}

/* child */
.footer-content h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-content p {
  color: #666;
  line-height: 1.5;
  font-size: 0.95rem;
}
